{
  "openapi": "3.1.0",
  "info": {
    "title": "ZeroGPU Batch & Files API",
    "version": "1.0",
    "description": "JSONL file storage (`/v1/files`) and asynchronous batch inference (`/v1/batches`). Wire-compatible with OpenAI's files and batch APIs. Auth: `x-api-key` and `x-project-id` on every request."
  },
  "servers": [
    {
      "url": "https://api.zerogpu.ai",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKey": [],
      "ProjectId": []
    }
  ],
  "paths": {
    "/v1/files": {
      "post": {
        "operationId": "uploadFile",
        "summary": "Upload a file",
        "description": "Upload a JSONL file with `purpose=batch` (max 100 MB). Use the returned `id` as `input_file_id` when creating a batch.",
        "tags": ["Files"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["purpose", "file"],
                "properties": {
                  "purpose": {
                    "type": "string",
                    "enum": ["batch"],
                    "default": "batch",
                    "description": "Must be `batch` for batch input uploads."
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "JSONL file (validated when you create the batch, not at upload)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/File" },
                "examples": {
                  "default": {
                    "value": {
                      "id": "file-0123456789abcdef012345",
                      "object": "file",
                      "bytes": 5000,
                      "created_at": 1736290000,
                      "filename": "input.jsonl",
                      "purpose": "batch",
                      "status": "processed",
                      "expires_at": 1738882000
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid multipart, purpose, or empty file" },
          "401": { "description": "Missing authentication headers" },
          "403": { "description": "Invalid credentials" },
          "413": { "description": "File exceeds 100 MB" },
          "429": { "description": "Insufficient quota" },
          "500": { "description": "Internal server error" }
        }
      },
      "get": {
        "operationId": "listFiles",
        "summary": "List files",
        "description": "List project files, newest first by default. Use `last_id` as `after` to page.",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "purpose",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["batch", "batch_output"]
            },
            "description": "Filter by purpose. `batch_output` includes success and error output files (`is_error` on each object)."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["desc", "asc"],
              "default": "desc"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Cursor: file `id` from the previous page (or `last_id` from the prior response)."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 10000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FileList" }
              }
            }
          },
          "400": { "description": "Invalid limit" },
          "401": { "description": "Missing authentication headers" },
          "403": { "description": "Invalid credentials" },
          "429": { "description": "Insufficient quota" }
        }
      }
    },
    "/v1/files/{file_id}": {
      "get": {
        "operationId": "retrieveFile",
        "summary": "Retrieve a file",
        "description": "File metadata without downloading the JSONL body.",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "example": "file-abc123..."
          }
        ],
        "responses": {
          "200": {
            "description": "File object",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/File" }
              }
            }
          },
          "404": { "description": "File not found" }
        }
      },
      "delete": {
        "operationId": "deleteFile",
        "summary": "Delete a file",
        "description": "Soft-delete. The file returns 404 on list, retrieve, and content afterward.",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "example": "file-abc123..."
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FileDeleted" }
              }
            }
          },
          "404": { "description": "File not found" }
        }
      }
    },
    "/v1/files/{file_id}/content": {
      "get": {
        "operationId": "downloadFileContent",
        "summary": "Download file content",
        "description": "Stream the raw JSONL body (`Content-Type: application/jsonl`).",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "example": "file-out789..."
          }
        ],
        "responses": {
          "200": {
            "description": "JSONL body",
            "content": {
              "application/jsonl": {
                "schema": { "type": "string", "format": "binary" }
              }
            }
          },
          "404": { "description": "File not found" }
        }
      }
    },
    "/v1/batches": {
      "post": {
        "operationId": "createBatch",
        "summary": "Create a batch",
        "description": "Submit a batch from an uploaded JSONL input file. Returns immediately with `status: in_progress`.",
        "tags": ["Batches"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateBatchRequest" },
              "examples": {
                "chatCompletions": {
                  "summary": "Chat completions batch",
                  "value": {
                    "input_file_id": "file-abc123",
                    "endpoint": "/v1/chat/completions",
                    "completion_window": "24h",
                    "metadata": { "job": "docs-playground" }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch accepted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Batch" }
              }
            }
          },
          "400": { "description": "Invalid request or JSONL validation failed" },
          "401": { "description": "Missing authentication headers" },
          "403": { "description": "Invalid credentials" },
          "404": { "description": "Input file not found" },
          "429": { "description": "Insufficient quota" },
          "500": { "description": "Internal server error" }
        }
      },
      "get": {
        "operationId": "listBatches",
        "summary": "List batches",
        "tags": ["Batches"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 20 }
          },
          {
            "name": "after",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Cursor: `last_id` from the previous page"
          }
        ],
        "responses": {
          "200": {
            "description": "Batch list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BatchList" }
              }
            }
          },
          "401": { "description": "Missing authentication headers" },
          "403": { "description": "Invalid credentials" },
          "429": { "description": "Insufficient quota" }
        }
      }
    },
    "/v1/batches/{batch_id}": {
      "get": {
        "operationId": "retrieveBatch",
        "summary": "Retrieve a batch",
        "description": "Poll batch status and live `request_counts` while in progress.",
        "tags": ["Batches"],
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "example": "batch_01HZX..."
          }
        ],
        "responses": {
          "200": {
            "description": "Batch object",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Batch" }
              }
            }
          },
          "404": { "description": "Batch not found" }
        }
      }
    },
    "/v1/batches/{batch_id}/cancel": {
      "post": {
        "operationId": "cancelBatch",
        "summary": "Cancel a batch",
        "description": "Request cancellation while `status` is `in_progress` or `validating`.",
        "tags": ["Batches"],
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "example": "batch_01HZX..."
          }
        ],
        "responses": {
          "200": {
            "description": "Batch cancellation requested",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Batch" }
              }
            }
          },
          "404": { "description": "Batch not found" },
          "409": { "description": "Batch already terminal" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      },
      "ProjectId": {
        "type": "apiKey",
        "in": "header",
        "name": "x-project-id"
      }
    },
    "schemas": {
      "File": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Prefixed with `file-`." },
          "object": { "type": "string", "enum": ["file"] },
          "bytes": { "type": "integer" },
          "created_at": { "type": "integer" },
          "filename": { "type": "string" },
          "purpose": {
            "type": "string",
            "enum": ["batch", "batch_output"],
            "description": "Uploads use `batch`; batch results use `batch_output`."
          },
          "status": {
            "type": "string",
            "enum": ["uploaded", "processed", "error"]
          },
          "status_details": { "type": "string" },
          "expires_at": { "type": "integer" },
          "is_error": {
            "type": "boolean",
            "description": "ZeroGPU extension. `true` on batch error output files only."
          }
        }
      },
      "FileList": {
        "type": "object",
        "properties": {
          "object": { "type": "string", "enum": ["list"] },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/File" }
          },
          "first_id": { "type": "string", "nullable": true },
          "last_id": { "type": "string", "nullable": true },
          "has_more": { "type": "boolean" }
        }
      },
      "FileDeleted": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "object": { "type": "string", "enum": ["file"] },
          "deleted": { "type": "boolean", "enum": [true] }
        }
      },
      "CreateBatchRequest": {
        "type": "object",
        "required": ["input_file_id", "endpoint"],
        "properties": {
          "input_file_id": {
            "type": "string",
            "description": "ID from `POST /v1/files` with `purpose=batch`."
          },
          "endpoint": {
            "type": "string",
            "enum": ["/v1/chat/completions"],
            "default": "/v1/chat/completions",
            "description": "Must match the `url` on every JSONL line."
          },
          "completion_window": {
            "type": "string",
            "enum": ["24h"],
            "default": "24h"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Optional tags echoed back on retrieve."
          }
        }
      },
      "Batch": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "object": { "type": "string", "enum": ["batch"] },
          "endpoint": { "type": "string" },
          "status": {
            "type": "string",
            "enum": [
              "validating",
              "in_progress",
              "finalizing",
              "completed",
              "failed",
              "expired",
              "cancelling",
              "cancelled"
            ]
          },
          "input_file_id": { "type": "string" },
          "output_file_id": { "type": "string", "nullable": true },
          "error_file_id": { "type": "string", "nullable": true },
          "completion_window": { "type": "string" },
          "created_at": { "type": "integer" },
          "expires_at": { "type": "integer" },
          "request_counts": {
            "type": "object",
            "properties": {
              "total": { "type": "integer" },
              "completed": { "type": "integer" },
              "failed": { "type": "integer" }
            }
          },
          "metadata": { "type": "object", "additionalProperties": true }
        }
      },
      "BatchList": {
        "type": "object",
        "properties": {
          "object": { "type": "string", "enum": ["list"] },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Batch" }
          },
          "first_id": { "type": "string", "nullable": true },
          "last_id": { "type": "string", "nullable": true },
          "has_more": { "type": "boolean" }
        }
      }
    }
  }
}
