{
  "openapi": "3.1.0",
  "info": {
    "title": "ZeroGPU API",
    "version": "1.0",
    "description": "REST API for ZeroGPU model inference: `POST /v1/responses` and `POST /v1/chat/completions` (model-dependent).\nAuthentication uses `x-api-key` and `x-project-id` headers on every request.\nDocumentation: https://docs.zerogpu.ai\n\nIn the API playground, change **model** to load that model's sample request body automatically."
  },
  "servers": [
    {
      "url": "https://api.zerogpu.ai/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKey": [],
      "ProjectId": []
    }
  ],
  "paths": {
    "/responses": {
      "post": {
        "operationId": "createResponse",
        "summary": "Send input to a model and receive a response",
        "tags": [
          "Responses"
        ],
        "x-mint": {
          "metadata": {
            "title": "Responses",
            "description": "Send input to an AI model and receive a response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateResponseRequest"
              },
              "example": {
                "input": "Contact John Doe at john@example.com or +1-415-555-0134.",
                "model": "gliner-multi-pii-v1",
                "metadata": {
                  "usecase": "extract-pii",
                  "threshold": 0.5,
                  "categories": [
                    "identity",
                    "contact"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body)"
          },
          "401": {
            "description": "Unauthorized (invalid or missing API key)"
          },
          "403": {
            "description": "Forbidden (invalid project ID or permissions)"
          },
          "420": {
            "description": "Input exceeds model token limit (context_length_exceeded)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "summary": "Chat-completions style inference",
        "description": "OpenAI-compatible chat body for models that use the messages route.",
        "tags": [
          "Chat"
        ],
        "x-mint": {
          "metadata": {
            "title": "Chat completions",
            "sidebarTitle": "Chat completions",
            "description": "Chat-style inference for models that use the messages route."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChatCompletionRequest"
              },
              "example": {
                "model": "gliner-multi-pii-v1",
                "messages": [
                  {
                    "role": "user",
                    "content": "Contact John Doe at john@example.com or +1-415-555-0134."
                  }
                ],
                "metadata": {
                  "usecase": "extract-pii",
                  "threshold": 0.5,
                  "categories": [
                    "identity",
                    "contact"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body)"
          },
          "401": {
            "description": "Unauthorized (invalid or missing API key)"
          },
          "403": {
            "description": "Forbidden (invalid project ID or permissions)"
          },
          "420": {
            "description": "Input exceeds model token limit (context_length_exceeded)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "ZeroGPU API key from the dashboard (starts with zgpu-)"
      },
      "ProjectId": {
        "type": "apiKey",
        "in": "header",
        "name": "x-project-id",
        "description": "Project UUID from the dashboard"
      }
    },
    "schemas": {
      "CreateResponseRequest": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ResponsesBody_gliner_multi_pii_v1"
          },
          {
            "$ref": "#/components/schemas/ResponsesBody_LFM2_5_1_2B_Instruct"
          },
          {
            "$ref": "#/components/schemas/ResponsesBody_LFM2_5_1_2B_Thinking"
          },
          {
            "$ref": "#/components/schemas/ResponsesBody_gliner2_base_v1"
          },
          {
            "$ref": "#/components/schemas/ResponsesBody_deberta_v3_small"
          },
          {
            "$ref": "#/components/schemas/ResponsesBody_t5_small"
          },
          {
            "$ref": "#/components/schemas/ResponsesBody_zlm_v1_iab_classify_edge"
          },
          {
            "$ref": "#/components/schemas/ResponsesBody_zlm_v1_followup_questions_edge"
          },
          {
            "$ref": "#/components/schemas/ResponsesBody_zlm_v1_iab_classify_edge_enriched"
          }
        ],
        "discriminator": {
          "propertyName": "model",
          "mapping": {
            "gliner-multi-pii-v1": "#/components/schemas/ResponsesBody_gliner_multi_pii_v1",
            "LFM2.5-1.2B-Instruct": "#/components/schemas/ResponsesBody_LFM2_5_1_2B_Instruct",
            "LFM2.5-1.2B-Thinking": "#/components/schemas/ResponsesBody_LFM2_5_1_2B_Thinking",
            "gliner2-base-v1": "#/components/schemas/ResponsesBody_gliner2_base_v1",
            "deberta-v3-small": "#/components/schemas/ResponsesBody_deberta_v3_small",
            "t5-small": "#/components/schemas/ResponsesBody_t5_small",
            "zlm-v1-iab-classify-edge": "#/components/schemas/ResponsesBody_zlm_v1_iab_classify_edge",
            "zlm-v1-followup-questions-edge": "#/components/schemas/ResponsesBody_zlm_v1_followup_questions_edge",
            "zlm-v1-iab-classify-edge-enriched": "#/components/schemas/ResponsesBody_zlm_v1_iab_classify_edge_enriched"
          }
        }
      },
      "CreateChatCompletionRequest": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ChatBody_gliner_multi_pii_v1"
          },
          {
            "$ref": "#/components/schemas/ChatBody_LFM2_5_1_2B_Instruct"
          },
          {
            "$ref": "#/components/schemas/ChatBody_LFM2_5_1_2B_Thinking"
          },
          {
            "$ref": "#/components/schemas/ChatBody_gliner2_base_v1"
          },
          {
            "$ref": "#/components/schemas/ChatBody_deberta_v3_small"
          },
          {
            "$ref": "#/components/schemas/ChatBody_t5_small"
          },
          {
            "$ref": "#/components/schemas/ChatBody_zlm_v1_iab_classify_edge"
          },
          {
            "$ref": "#/components/schemas/ChatBody_zlm_v1_followup_questions_edge"
          },
          {
            "$ref": "#/components/schemas/ChatBody_zlm_v1_iab_classify_edge_enriched"
          }
        ],
        "discriminator": {
          "propertyName": "model",
          "mapping": {
            "gliner-multi-pii-v1": "#/components/schemas/ChatBody_gliner_multi_pii_v1",
            "LFM2.5-1.2B-Instruct": "#/components/schemas/ChatBody_LFM2_5_1_2B_Instruct",
            "LFM2.5-1.2B-Thinking": "#/components/schemas/ChatBody_LFM2_5_1_2B_Thinking",
            "gliner2-base-v1": "#/components/schemas/ChatBody_gliner2_base_v1",
            "deberta-v3-small": "#/components/schemas/ChatBody_deberta_v3_small",
            "t5-small": "#/components/schemas/ChatBody_t5_small",
            "zlm-v1-iab-classify-edge": "#/components/schemas/ChatBody_zlm_v1_iab_classify_edge",
            "zlm-v1-followup-questions-edge": "#/components/schemas/ChatBody_zlm_v1_followup_questions_edge",
            "zlm-v1-iab-classify-edge-enriched": "#/components/schemas/ChatBody_zlm_v1_iab_classify_edge_enriched"
          }
        }
      },
      "ResponsesBody_gliner_multi_pii_v1": {
        "type": "object",
        "required": [
          "input",
          "model",
          "metadata"
        ],
        "properties": {
          "input": {
            "type": "string"
          },
          "model": {
            "type": "string",
            "const": "gliner-multi-pii-v1",
            "description": "Model identifier"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "usecase": {
                "type": "string"
              },
              "threshold": {
                "type": "number"
              },
              "categories": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": false
      },
      "ResponsesBody_LFM2_5_1_2B_Instruct": {
        "type": "object",
        "required": [
          "input",
          "model",
          "instructions"
        ],
        "properties": {
          "input": {
            "type": "string"
          },
          "model": {
            "type": "string",
            "const": "LFM2.5-1.2B-Instruct",
            "description": "Model identifier"
          },
          "instructions": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ResponsesBody_LFM2_5_1_2B_Thinking": {
        "type": "object",
        "required": [
          "input",
          "model"
        ],
        "properties": {
          "input": {
            "type": "string"
          },
          "model": {
            "type": "string",
            "const": "LFM2.5-1.2B-Thinking",
            "description": "Model identifier"
          }
        },
        "additionalProperties": false
      },
      "ResponsesBody_gliner2_base_v1": {
        "type": "object",
        "required": [
          "input",
          "model",
          "metadata"
        ],
        "properties": {
          "input": {
            "type": "string"
          },
          "model": {
            "type": "string",
            "const": "gliner2-base-v1",
            "description": "Model identifier"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "schema": {
                "type": "object",
                "properties": {
                  "contact": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "additionalProperties": true
              },
              "usecase": {
                "type": "string"
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": false
      },
      "ResponsesBody_deberta_v3_small": {
        "type": "object",
        "required": [
          "input",
          "model",
          "instructions"
        ],
        "properties": {
          "input": {
            "type": "string"
          },
          "model": {
            "type": "string",
            "const": "deberta-v3-small",
            "description": "Model identifier"
          },
          "instructions": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ResponsesBody_t5_small": {
        "type": "object",
        "required": [
          "input",
          "model"
        ],
        "properties": {
          "input": {
            "type": "string"
          },
          "model": {
            "type": "string",
            "const": "t5-small",
            "description": "Model identifier"
          }
        },
        "additionalProperties": false
      },
      "ResponsesBody_zlm_v1_iab_classify_edge": {
        "type": "object",
        "required": [
          "input",
          "model"
        ],
        "properties": {
          "input": {
            "type": "string"
          },
          "model": {
            "type": "string",
            "const": "zlm-v1-iab-classify-edge",
            "description": "Model identifier"
          }
        },
        "additionalProperties": false
      },
      "ResponsesBody_zlm_v1_followup_questions_edge": {
        "type": "object",
        "required": [
          "input",
          "model"
        ],
        "properties": {
          "input": {
            "type": "string"
          },
          "model": {
            "type": "string",
            "const": "zlm-v1-followup-questions-edge",
            "description": "Model identifier"
          }
        },
        "additionalProperties": false
      },
      "ResponsesBody_zlm_v1_iab_classify_edge_enriched": {
        "type": "object",
        "required": [
          "input",
          "model"
        ],
        "properties": {
          "input": {
            "type": "string"
          },
          "model": {
            "type": "string",
            "const": "zlm-v1-iab-classify-edge-enriched",
            "description": "Model identifier"
          }
        },
        "additionalProperties": false
      },
      "ChatBody_gliner_multi_pii_v1": {
        "type": "object",
        "required": [
          "model",
          "messages",
          "metadata"
        ],
        "properties": {
          "model": {
            "type": "string",
            "const": "gliner-multi-pii-v1",
            "description": "Model identifier"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                }
              },
              "additionalProperties": true
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "usecase": {
                "type": "string"
              },
              "threshold": {
                "type": "number"
              },
              "categories": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": false
      },
      "ChatBody_LFM2_5_1_2B_Instruct": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "const": "LFM2.5-1.2B-Instruct",
            "description": "Model identifier"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                }
              },
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": false
      },
      "ChatBody_LFM2_5_1_2B_Thinking": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "const": "LFM2.5-1.2B-Thinking",
            "description": "Model identifier"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                }
              },
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": false
      },
      "ChatBody_gliner2_base_v1": {
        "type": "object",
        "required": [
          "model",
          "messages",
          "metadata"
        ],
        "properties": {
          "model": {
            "type": "string",
            "const": "gliner2-base-v1",
            "description": "Model identifier"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                }
              },
              "additionalProperties": true
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "schema": {
                "type": "object",
                "properties": {
                  "contact": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "additionalProperties": true
              },
              "usecase": {
                "type": "string"
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": false
      },
      "ChatBody_deberta_v3_small": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "const": "deberta-v3-small",
            "description": "Model identifier"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                }
              },
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": false
      },
      "ChatBody_t5_small": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "const": "t5-small",
            "description": "Model identifier"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                }
              },
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": false
      },
      "ChatBody_zlm_v1_iab_classify_edge": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "const": "zlm-v1-iab-classify-edge",
            "description": "Model identifier"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                }
              },
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": false
      },
      "ChatBody_zlm_v1_followup_questions_edge": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "const": "zlm-v1-followup-questions-edge",
            "description": "Model identifier"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                }
              },
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": false
      },
      "ChatBody_zlm_v1_iab_classify_edge_enriched": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "const": "zlm-v1-iab-classify-edge-enriched",
            "description": "Model identifier"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                }
              },
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": false
      },
      "ChatMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant"
            ]
          },
          "content": {
            "type": "string"
          }
        }
      },
      "InputMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "system"
            ]
          },
          "content": {
            "type": "string"
          }
        }
      },
      "TextResponseConfig": {
        "type": "object",
        "properties": {
          "format": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "text"
              }
            }
          }
        }
      },
      "Response": {
        "type": "object",
        "required": [
          "id",
          "object",
          "created",
          "model",
          "output"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "resp_abc123"
          },
          "object": {
            "type": "string",
            "example": "response"
          },
          "created": {
            "type": "integer",
            "format": "int64"
          },
          "model": {
            "type": "string"
          },
          "output": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputMessage"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/TokenUsage"
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "created": {
            "type": "integer",
            "format": "int64"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "usage": {
            "$ref": "#/components/schemas/TokenUsage"
          }
        }
      },
      "OutputMessage": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "message"
          },
          "role": {
            "type": "string",
            "example": "assistant"
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputContentBlock"
            }
          }
        }
      },
      "OutputContentBlock": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "output_text"
          },
          "text": {
            "type": "string"
          }
        }
      },
      "TokenUsage": {
        "type": "object",
        "properties": {
          "input_tokens": {
            "type": "integer"
          },
          "output_tokens": {
            "type": "integer"
          },
          "total_tokens": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": true
      }
    }
  }
}
