{
  "openapi": "3.1.0",
  "info": {
    "title": "ZeroGPU API",
    "version": "1.0",
    "description": "REST API for ZeroGPU model inference: `POST /v1/responses` and `POST /v1/chat/completions` (model-dependent).\nAuthentication uses `x-api-key` and `x-project-id` headers on every request.\nDocumentation: https://docs.zerogpu.ai\n\nIn the API playground, pick a **model** from the dropdown, then choose a **request example** for that model."
  },
  "servers": [
    {
      "url": "https://api.zerogpu.ai/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKey": [],
      "ProjectId": []
    }
  ],
  "paths": {
    "/responses": {
      "post": {
        "operationId": "createResponse",
        "summary": "Send input to a model and receive a response",
        "tags": [
          "Responses"
        ],
        "x-mint": {
          "metadata": {
            "title": "Responses",
            "description": "Send input to an AI model and receive a response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateResponseRequest"
              },
              "examples": {
                "gliner-multi-pii-v1": {
                  "summary": "gliner-multi-pii-v1 · PII (PII Extraction)",
                  "value": {
                    "input": "Contact John Doe at john@example.com or +1-415-555-0134.",
                    "model": "gliner-multi-pii-v1",
                    "metadata": {
                      "usecase": "extract-pii",
                      "threshold": 0.5,
                      "categories": [
                        "identity",
                        "contact"
                      ]
                    }
                  }
                },
                "LFM2_5-1_2B-Instruct": {
                  "summary": "LFM2.5-1.2B-Instruct · Text Generation",
                  "value": {
                    "input": "I just completed a 5K run in 28 minutes. Give me a short motivational follow-up message.",
                    "model": "LFM2.5-1.2B-Instruct",
                    "instructions": "You are a friendly in-app assistant for a fitness app."
                  }
                },
                "LFM2_5-1_2B-Thinking": {
                  "summary": "LFM2.5-1.2B-Thinking · Text Generation",
                  "value": {
                    "input": "What is the capital of Japan",
                    "model": "LFM2.5-1.2B-Thinking"
                  }
                },
                "gliner2-base-v1": {
                  "summary": "gliner2-base-v1 · PII (Structured Data Extraction)",
                  "value": {
                    "input": "Best regards, John Smith, Senior Software Engineer at Acme Corp. Phone: (555) 123-4567, Email: john.smith@acme.com, Office: 123 Main Street, Suite 400, San Francisco, CA 94105",
                    "model": "gliner2-base-v1",
                    "metadata": {
                      "schema": {
                        "contact": [
                          "name::str::Full name",
                          "title::str::Job title",
                          "company::str::Company name",
                          "phone::str::Phone number",
                          "email::str::Email address",
                          "address::str::Office address"
                        ]
                      },
                      "usecase": "json"
                    }
                  }
                },
                "deberta-v3-small": {
                  "summary": "deberta-v3-small · Text Classification",
                  "value": {
                    "input": "Apple is expected to unveil its next-generation M5 chip at WWDC this June, promising a 40% boost in GPU performance and a new dedicated AI core for on-device machine learning tasks.",
                    "model": "deberta-v3-small",
                    "instructions": "[sports, finance, politics]"
                  }
                },
                "t5-small": {
                  "summary": "t5-small · Summarization",
                  "value": {
                    "input": "NASA announced that its Artemis III mission is now scheduled for late 2026, marking the first time astronauts will land on the lunar surface since Apollo 17 in 1972. The mission will send a crew of four to the Moon aboard the Orion spacecraft, with two astronauts descending to the south pole using SpaceX Starship as a lunar lander. Scientists are particularly excited about exploring permanently shadowed craters that may contain water ice, which could be critical for sustaining long-term human presence on the Moon.",
                    "model": "t5-small"
                  }
                },
                "zlm-v1-iab-classify-edge": {
                  "summary": "zlm-v1-iab-classify-edge · Text Classification",
                  "value": {
                    "input": "Technology has quietly reshaped the rhythm of everyday life, weaving itself into routines so seamlessly that it often goes unnoticed. From the moment a smartphone alarm wakes someone in the morning to the final glance at a glowing screen before sleep, digital systems guide communication, navigation, work, and entertainment. This transformation did not happen overnight. It emerged through decades of incremental innovation, each new tool building upon the last, until the modern world became deeply interconnected.One of the most significant changes has been the speed at which information travels.",
                    "model": "zlm-v1-iab-classify-edge"
                  }
                },
                "zlm-v1-followup-questions-edge": {
                  "summary": "zlm-v1-followup-questions-edge · Text Generation",
                  "value": {
                    "input": "Electric vehicles are gaining popularity worldwide as battery costs drop and charging infrastructure expands. Most modern EVs offer a range of 250 to 350 miles on a single charge, and fast-charging stations can replenish 80% of battery capacity in under 30 minutes. However, concerns around battery disposal, rare earth mineral sourcing, and grid capacity continue to shape the debate around large-scale EV adoption.",
                    "model": "zlm-v1-followup-questions-edge"
                  }
                },
                "zlm-v1-iab-classify-edge-enriched": {
                  "summary": "zlm-v1-iab-classify-edge-enriched · Text Classification",
                  "value": {
                    "input": "Technology has quietly reshaped the rhythm of everyday life, weaving itself into routines so seamlessly that it often goes unnoticed. From the moment a smartphone alarm wakes someone in the morning to the final glance at a glowing screen before sleep, digital systems guide communication, navigation, work, and entertainment. This transformation did not happen overnight. It emerged through decades of incremental innovation, each new tool building upon the last, until the modern world became deeply interconnected.One of the most significant changes has been the speed at which information travels.",
                    "model": "zlm-v1-iab-classify-edge-enriched"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body)"
          },
          "401": {
            "description": "Unauthorized (invalid or missing API key)"
          },
          "403": {
            "description": "Forbidden (invalid project ID or permissions)"
          },
          "420": {
            "description": "Input exceeds model token limit (context_length_exceeded)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "summary": "Chat-completions style inference",
        "description": "OpenAI-compatible chat body for models that use the messages route.",
        "tags": [
          "Chat"
        ],
        "x-mint": {
          "metadata": {
            "title": "Chat completions",
            "sidebarTitle": "Chat completions",
            "description": "Chat-style inference for models that use the messages route."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChatCompletionRequest"
              },
              "examples": {
                "gliner-multi-pii-v1": {
                  "summary": "gliner-multi-pii-v1 · PII (PII Extraction)",
                  "value": {
                    "model": "gliner-multi-pii-v1",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Contact John Doe at john@example.com or +1-415-555-0134."
                      }
                    ],
                    "metadata": {
                      "usecase": "extract-pii",
                      "threshold": 0.5,
                      "categories": [
                        "identity",
                        "contact"
                      ]
                    }
                  }
                },
                "LFM2_5-1_2B-Instruct": {
                  "summary": "LFM2.5-1.2B-Instruct · Text Generation",
                  "value": {
                    "model": "LFM2.5-1.2B-Instruct",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a friendly in-app assistant for a fitness app."
                      },
                      {
                        "role": "user",
                        "content": "I just completed a 5K run in 28 minutes. Give me a short motivational follow-up message."
                      }
                    ]
                  }
                },
                "LFM2_5-1_2B-Thinking": {
                  "summary": "LFM2.5-1.2B-Thinking · Text Generation",
                  "value": {
                    "model": "LFM2.5-1.2B-Thinking",
                    "messages": [
                      {
                        "role": "user",
                        "content": "What is the capital of Japan"
                      }
                    ]
                  }
                },
                "gliner2-base-v1": {
                  "summary": "gliner2-base-v1 · PII (Structured Data Extraction)",
                  "value": {
                    "model": "gliner2-base-v1",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Best regards, John Smith, Senior Software Engineer at Acme Corp. Phone: (555) 123-4567, Email: john.smith@acme.com, Office: 123 Main Street, Suite 400, San Francisco, CA 94105"
                      }
                    ],
                    "metadata": {
                      "schema": {
                        "contact": [
                          "name::str::Full name",
                          "title::str::Job title",
                          "company::str::Company name",
                          "phone::str::Phone number",
                          "email::str::Email address",
                          "address::str::Office address"
                        ]
                      },
                      "usecase": "json"
                    }
                  }
                },
                "deberta-v3-small": {
                  "summary": "deberta-v3-small · Text Classification",
                  "value": {
                    "model": "deberta-v3-small",
                    "messages": [
                      {
                        "role": "system",
                        "content": "[Sports,Politics,Technology,Finance,Entertainment]"
                      },
                      {
                        "role": "user",
                        "content": "Apple is expected to unveil its next-generation M5 chip at WWDC this June, promising a 40% boost in GPU performance and a new dedicated AI core for on-device machine learning tasks."
                      }
                    ]
                  }
                },
                "t5-small": {
                  "summary": "t5-small · Summarization",
                  "value": {
                    "model": "t5-small",
                    "messages": [
                      {
                        "role": "user",
                        "content": "NASA announced that its Artemis III mission is now scheduled for late 2026, marking the first time astronauts will land on the lunar surface since Apollo 17 in 1972. The mission will send a crew of four to the Moon aboard the Orion spacecraft, with two astronauts descending to the south pole using SpaceX Starship as a lunar lander. Scientists are particularly excited about exploring permanently shadowed craters that may contain water ice, which could be critical for sustaining long-term human presence on the Moon."
                      }
                    ]
                  }
                },
                "zlm-v1-iab-classify-edge": {
                  "summary": "zlm-v1-iab-classify-edge · Text Classification",
                  "value": {
                    "model": "zlm-v1-iab-classify-edge",
                    "messages": [
                      {
                        "role": "user",
                        "content": "What are the basics of exercise and physical fitness?Exercise is anything that gets your body moving. Regular exercise is one of the best things you can do for your health. It has many benefits, including improving your overall health and fitness, and reducing your risk for many chronic (long-term) diseases.Every physical fitness routine is built on a few simple ideas. These include:Make exercise a habit, as your body adapts to the type of activity you do most often. Regular practice will help you improve.Build up your activity level slowly to help you continue to get stronger, faster, or more flexible without pushing too hard all at once.Challenge yourself by lifting slightly heavier weights, adding a few more minutes to your walk, or increasing your pace."
                      }
                    ]
                  }
                },
                "zlm-v1-followup-questions-edge": {
                  "summary": "zlm-v1-followup-questions-edge · Text Generation",
                  "value": {
                    "model": "zlm-v1-followup-questions-edge",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Electric vehicles are gaining popularity worldwide as battery costs drop and charging infrastructure expands. Most modern EVs offer a range of 250 to 350 miles on a single charge, and fast-charging stations can replenish 80% of battery capacity in under 30 minutes. However, concerns around battery disposal, rare earth mineral sourcing, and grid capacity continue to shape the debate around large-scale EV adoption."
                      }
                    ]
                  }
                },
                "zlm-v1-iab-classify-edge-enriched": {
                  "summary": "zlm-v1-iab-classify-edge-enriched · Text Classification",
                  "value": {
                    "model": "zlm-v1-iab-classify-edge-enriched",
                    "messages": [
                      {
                        "role": "user",
                        "content": "What are the basics of exercise and physical fitness?Exercise is anything that gets your body moving. Regular exercise is one of the best things you can do for your health. It has many benefits, including improving your overall health and fitness, and reducing your risk for many chronic (long-term) diseases.Every physical fitness routine is built on a few simple ideas. These include:Make exercise a habit, as your body adapts to the type of activity you do most often. Regular practice will help you improve.Build up your activity level slowly to help you continue to get stronger, faster, or more flexible without pushing too hard all at once.Challenge yourself by lifting slightly heavier weights, adding a few more minutes to your walk, or increasing your pace."
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body)"
          },
          "401": {
            "description": "Unauthorized (invalid or missing API key)"
          },
          "403": {
            "description": "Forbidden (invalid project ID or permissions)"
          },
          "420": {
            "description": "Input exceeds model token limit (context_length_exceeded)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "ZeroGPU API key from the dashboard (starts with zgpu-)"
      },
      "ProjectId": {
        "type": "apiKey",
        "in": "header",
        "name": "x-project-id",
        "description": "Project UUID from the dashboard"
      }
    },
    "schemas": {
      "CreateResponseRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model identifier from the [model catalog](https://docs.zerogpu.ai/platform/model-catalog).",
            "enum": [
              "LFM2.5-1.2B-Instruct",
              "LFM2.5-1.2B-Thinking",
              "deberta-v3-small",
              "gliner-multi-pii-v1",
              "gliner2-base-v1",
              "t5-small",
              "zlm-v1-followup-questions-edge",
              "zlm-v1-iab-classify-edge",
              "zlm-v1-iab-classify-edge-enriched"
            ],
            "example": "LFM2.5-1.2B-Instruct"
          },
          "input": {
            "description": "Model-dependent input. Many models accept a plain string. Others accept a message list with role and content.",
            "oneOf": [
              {
                "type": "string",
                "minLength": 1
              },
              {
                "type": "array",
                "minItems": 1,
                "items": {
                  "$ref": "#/components/schemas/InputMessage"
                }
              }
            ]
          },
          "text": {
            "$ref": "#/components/schemas/TextResponseConfig"
          },
          "instructions": {
            "type": "string",
            "description": "Optional system-style instructions (some classification models)."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Optional model-specific parameters (e.g. usecase, schema, labels, mask)."
          }
        }
      },
      "CreateChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model identifier from the [model catalog](https://docs.zerogpu.ai/platform/model-catalog).",
            "enum": [
              "LFM2.5-1.2B-Instruct",
              "LFM2.5-1.2B-Thinking",
              "deberta-v3-small",
              "gliner-multi-pii-v1",
              "gliner2-base-v1",
              "t5-small",
              "zlm-v1-followup-questions-edge",
              "zlm-v1-iab-classify-edge",
              "zlm-v1-iab-classify-edge-enriched"
            ],
            "example": "LFM2.5-1.2B-Instruct"
          },
          "messages": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant"
            ]
          },
          "content": {
            "type": "string"
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "created": {
            "type": "integer",
            "format": "int64"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "usage": {
            "$ref": "#/components/schemas/TokenUsage"
          }
        }
      },
      "InputMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "system"
            ]
          },
          "content": {
            "type": "string"
          }
        }
      },
      "TextResponseConfig": {
        "type": "object",
        "properties": {
          "format": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "text"
              }
            }
          }
        }
      },
      "Response": {
        "type": "object",
        "required": [
          "id",
          "object",
          "created",
          "model",
          "output"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "resp_abc123"
          },
          "object": {
            "type": "string",
            "example": "response"
          },
          "created": {
            "type": "integer",
            "format": "int64"
          },
          "model": {
            "type": "string"
          },
          "output": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputMessage"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/TokenUsage"
          }
        }
      },
      "OutputMessage": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "message"
          },
          "role": {
            "type": "string",
            "example": "assistant"
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputContentBlock"
            }
          }
        }
      },
      "OutputContentBlock": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "output_text"
          },
          "text": {
            "type": "string"
          }
        }
      },
      "TokenUsage": {
        "type": "object",
        "properties": {
          "input_tokens": {
            "type": "integer"
          },
          "output_tokens": {
            "type": "integer"
          },
          "total_tokens": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": true
      }
    }
  }
}
