{
  "openapi": "3.1.0",
  "info": {
    "title": "ZeroGPU API",
    "version": "1.0",
    "description": "REST API for ZeroGPU model inference: `POST /v1/responses` and `POST /v1/chat/completions` (model-dependent).\nAuthentication uses `x-api-key` and `x-project-id` headers on every request.\nDocumentation: https://docs.zerogpu.ai\n\n**Per-model playgrounds** are listed on [Model playgrounds](/api-reference/models) with request examples for each model's use cases.\nThese endpoint pages show a generic shape only."
  },
  "servers": [
    {
      "url": "https://api.zerogpu.ai/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKey": [],
      "ProjectId": []
    }
  ],
  "paths": {
    "/responses": {
      "post": {
        "operationId": "createResponse",
        "summary": "Create response",
        "tags": [
          "Responses"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateResponseRequest"
              },
              "examples": {
                "default": {
                  "summary": "llama-3.1-8b-instruct-fast (see model pages for more)",
                  "value": {
                    "input": "NASA announced that its Artemis III mission is now scheduled for late 2026, marking the first time astronauts will land on the lunar surface since Apollo 17 in 1972. The mission will send a crew of four to the Moon aboard the Orion spacecraft, with two astronauts descending to the south pole using SpaceX Starship as a lunar lander. Scientists are particularly excited about exploring permanently shadowed craters that may contain water ice, which could be critical for sustaining long-term human presence on the Moon.",
                    "model": "llama-3.1-8b-instruct-fast"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body)"
          },
          "401": {
            "description": "Unauthorized (invalid or missing API key)"
          },
          "403": {
            "description": "Forbidden (invalid project ID or permissions)"
          },
          "420": {
            "description": "Input exceeds model token limit (context_length_exceeded)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "summary": "Chat-completions style inference",
        "description": "OpenAI-compatible chat body for models that use the messages route.",
        "tags": [
          "Chat"
        ],
        "x-mint": {
          "metadata": {
            "title": "Chat completions",
            "sidebarTitle": "Chat completions",
            "description": "Chat-style inference for models that use the messages route."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChatCompletionRequest"
              },
              "examples": {
                "default": {
                  "summary": "llama-3.1-8b-instruct-fast (see model pages for more)",
                  "value": {
                    "model": "llama-3.1-8b-instruct-fast",
                    "messages": [
                      {
                        "role": "user",
                        "content": "NASA announced that its Artemis III mission is now scheduled for late 2026, marking the first time astronauts will land on the lunar surface since Apollo 17 in 1972. The mission will send a crew of four to the Moon aboard the Orion spacecraft, with two astronauts descending to the south pole using SpaceX Starship as a lunar lander. Scientists are particularly excited about exploring permanently shadowed craters that may contain water ice, which could be critical for sustaining long-term human presence on the Moon."
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body)"
          },
          "401": {
            "description": "Unauthorized (invalid or missing API key)"
          },
          "403": {
            "description": "Forbidden (invalid project ID or permissions)"
          },
          "420": {
            "description": "Input exceeds model token limit (context_length_exceeded)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      },
      "ProjectId": {
        "type": "apiKey",
        "in": "header",
        "name": "x-project-id"
      }
    },
    "schemas": {
      "CreateResponseRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model identifier. Open a [model page](/api-reference/models) for a dedicated playground with the correct body for that model.",
            "default": "llama-3.1-8b-instruct-fast",
            "example": "llama-3.1-8b-instruct-fast"
          },
          "input": {
            "description": "Model-dependent input. Plain string or message list with role and content.",
            "oneOf": [
              {
                "type": "string",
                "minLength": 1,
                "format": "textarea",
                "maxLength": 131072,
                "description": "Plain text or document body."
              },
              {
                "type": "array",
                "minItems": 1,
                "items": {
                  "$ref": "#/components/schemas/InputMessage"
                }
              }
            ]
          },
          "instructions": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "CreateChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model identifier. Open a [model page](/api-reference/models) for a dedicated playground with the correct body for that model.",
            "example": "llama-3.1-8b-instruct-fast"
          },
          "messages": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant"
            ]
          },
          "content": {
            "type": "string",
            "minLength": 1,
            "format": "textarea",
            "maxLength": 131072,
            "description": "Message text."
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "additionalProperties": true
      },
      "InputMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "system"
            ]
          },
          "content": {
            "type": "string",
            "minLength": 1,
            "format": "textarea",
            "maxLength": 131072,
            "description": "Message text."
          }
        }
      },
      "Response": {
        "type": "object",
        "additionalProperties": true
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": true
      }
    }
  }
}
