{
  "openapi": "3.1.0",
  "info": {
    "title": "ZeroGPU API",
    "version": "1.0",
    "description": "REST API for ZeroGPU model inference: `POST /v1/responses` and `POST /v1/chat/completions` (model-dependent).\nAuthentication uses the `x-api-key` header on every request. The `x-project-id` header is optional.\nDocumentation: https://docs.zerogpu.ai\n\n**Per-model playgrounds** are listed on [Model playgrounds](/api-reference/models) with request examples for each model's use cases.\nThese endpoint pages show a generic shape only."
  },
  "servers": [
    {
      "url": "https://api.zerogpu.ai/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKey": []
    }
  ],
  "paths": {
    "/responses": {
      "post": {
        "operationId": "createResponse",
        "summary": "Create response",
        "tags": [
          "Responses"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateResponseRequest"
              },
              "example": {
                "model": "llama-3.1-8b-instruct-fast",
                "input": "NASA announced that its Artemis III mission is now scheduled for late 2026, marking the first time astronauts will land on the lunar surface since Apollo 17 in 1972. The mission will send a crew of four to the Moon aboard the Orion spacecraft, with two astronauts descending to the south pole using SpaceX Starship as a lunar lander. Scientists are particularly excited about exploring permanently shadowed craters that may contain water ice, which could be critical for sustaining long-term human presence on the Moon."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "id": "resp_abc123",
                  "object": "response",
                  "created": 1710000000,
                  "model": "llama-3.1-8b-instruct-fast",
                  "output": [
                    {
                      "type": "message",
                      "role": "assistant",
                      "content": [
                        {
                          "type": "output_text",
                          "text": "Artemis III, slated for late 2026, will return astronauts to the Moon for the first time since 1972, landing two crew at the south pole to study shadowed craters that may hold water ice."
                        }
                      ]
                    }
                  ],
                  "usage": {
                    "input_tokens": 112,
                    "output_tokens": 44,
                    "total_tokens": 156
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body)"
          },
          "401": {
            "description": "Unauthorized (invalid or missing API key)"
          },
          "403": {
            "description": "Forbidden (invalid project ID or permissions)"
          },
          "420": {
            "description": "Insufficient quota (insufficient_quota)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "insufficient_quota",
                    "message": "You have insufficient quota to complete this request."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "x-project-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional project identifier. Scopes the request to a specific project when provided."
          }
        ]
      }
    },
    "/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "summary": "Chat-completions style inference",
        "description": "OpenAI-compatible chat body for models that use the messages route.",
        "tags": [
          "Chat"
        ],
        "x-mint": {
          "metadata": {
            "title": "Chat completions",
            "sidebarTitle": "Chat completions",
            "description": "Chat-style inference for models that use the messages route."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChatCompletionRequest"
              },
              "example": {
                "model": "llama-3.1-8b-instruct-fast",
                "messages": [
                  {
                    "role": "user",
                    "content": "NASA announced that its Artemis III mission is now scheduled for late 2026, marking the first time astronauts will land on the lunar surface since Apollo 17 in 1972. The mission will send a crew of four to the Moon aboard the Orion spacecraft, with two astronauts descending to the south pole using SpaceX Starship as a lunar lander. Scientists are particularly excited about exploring permanently shadowed craters that may contain water ice, which could be critical for sustaining long-term human presence on the Moon."
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                },
                "example": {
                  "id": "chatcmpl_abc123",
                  "object": "chat.completion",
                  "created": 1710000000,
                  "model": "llama-3.1-8b-instruct-fast",
                  "choices": [
                    {
                      "index": 0,
                      "message": {
                        "role": "assistant",
                        "content": "Artemis III, slated for late 2026, will return astronauts to the Moon for the first time since 1972, landing two crew at the south pole to study shadowed craters that may hold water ice."
                      },
                      "finish_reason": "stop"
                    }
                  ],
                  "usage": {
                    "prompt_tokens": 112,
                    "completion_tokens": 44,
                    "total_tokens": 156
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body)"
          },
          "401": {
            "description": "Unauthorized (invalid or missing API key)"
          },
          "403": {
            "description": "Forbidden (invalid project ID or permissions)"
          },
          "420": {
            "description": "Insufficient quota (insufficient_quota)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "insufficient_quota",
                    "message": "You have insufficient quota to complete this request."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "x-project-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional project identifier. Scopes the request to a specific project when provided."
          }
        ]
      }
    },
    "/moderations": {
      "post": {
        "operationId": "createModeration",
        "summary": "Create moderation",
        "tags": [
          "Moderations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateModerationRequest"
              },
              "example": {
                "model": "zlm-v1-moderation-edge",
                "input": "I am so angry at this person that I want to hurt them. They are worthless and should be scared of what I might do next."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModerationResponse"
                },
                "example": {
                  "id": "modr-0a1b2c3d4e5f60718293a4b5c6d7e8f90",
                  "model": "zlm-v1-moderation-edge",
                  "results": [
                    {
                      "flagged": true,
                      "categories": {
                        "harassment": true,
                        "harassment/threatening": true,
                        "hate": false,
                        "hate/threatening": false,
                        "illicit": false,
                        "illicit/violent": false,
                        "self-harm": false,
                        "self-harm/intent": false,
                        "self-harm/instructions": false,
                        "sexual": false,
                        "sexual/minors": false,
                        "violence": true,
                        "violence/graphic": false
                      },
                      "category_scores": {
                        "harassment": 0.9412,
                        "harassment/threatening": 0.9016,
                        "hate": 0.0231,
                        "hate/threatening": 0.0104,
                        "illicit": 0.0057,
                        "illicit/violent": 0.0039,
                        "self-harm": 0.0021,
                        "self-harm/intent": 0.0012,
                        "self-harm/instructions": 0.0008,
                        "sexual": 0.0006,
                        "sexual/minors": 0.0002,
                        "violence": 0.8774,
                        "violence/graphic": 0.0311
                      },
                      "category_applied_input_types": {
                        "harassment": [
                          "text"
                        ],
                        "harassment/threatening": [
                          "text"
                        ],
                        "hate": [
                          "text"
                        ],
                        "hate/threatening": [
                          "text"
                        ],
                        "illicit": [
                          "text"
                        ],
                        "illicit/violent": [
                          "text"
                        ],
                        "self-harm": [
                          "text"
                        ],
                        "self-harm/intent": [
                          "text"
                        ],
                        "self-harm/instructions": [
                          "text"
                        ],
                        "sexual": [
                          "text"
                        ],
                        "sexual/minors": [
                          "text"
                        ],
                        "violence": [
                          "text"
                        ],
                        "violence/graphic": [
                          "text"
                        ]
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body)"
          },
          "401": {
            "description": "Unauthorized (invalid or missing API key)"
          },
          "403": {
            "description": "Forbidden (invalid project ID or permissions)"
          },
          "420": {
            "description": "Insufficient quota (insufficient_quota)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Your ZeroGPU API key. Create one in the dashboard under API keys. Send it on every request."
      }
    },
    "schemas": {
      "CreateResponseRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model identifier. Open a [model page](/api-reference/models) for a dedicated playground with the correct body for that model.",
            "enum": [
              "llama-3.1-8b-instruct-fast",
              "LFM2.5-1.2B-Instruct",
              "LFM2.5-1.2B-Thinking",
              "gpt-oss-120b",
              "deberta-v3-small",
              "gliner2-base-v1",
              "gliner-multi-pii-v1",
              "zlm-v1-iab-classify-edge",
              "zlm-v2-iab-classify-edge-enriched",
              "zlm-v1-iab-domain-classifier",
              "zlm-v1-moderation-edge"
            ],
            "example": "llama-3.1-8b-instruct-fast"
          },
          "input": {
            "type": "string",
            "minLength": 1,
            "format": "textarea",
            "maxLength": 131072,
            "description": "The text or document to send, as a plain string."
          },
          "text": {
            "type": "object",
            "description": "Response format configuration.",
            "properties": {
              "format": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Output format for the response, for example `text`.",
                    "example": "text"
                  }
                }
              }
            }
          },
          "instructions": {
            "type": "string",
            "description": "Optional system-style instructions applied on top of `input`, for models that support them."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Optional model-specific parameters, passed through to the model. For example, PII models accept `mask` and `usecase`. See the relevant [model page](/api-reference/models) for supported keys."
          }
        }
      },
      "CreateChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model identifier. Open a [model page](/api-reference/models) for a dedicated playground with the correct body for that model.",
            "enum": [
              "llama-3.1-8b-instruct-fast",
              "LFM2.5-1.2B-Instruct",
              "LFM2.5-1.2B-Thinking",
              "gpt-oss-120b",
              "qwen3-30b-a3b-fp8",
              "glm-5.2",
              "deepseek-v4-flash",
              "deberta-v3-small",
              "gliner2-base-v1",
              "gliner-multi-pii-v1",
              "zlm-v1-iab-classify-edge",
              "zlm-v2-iab-classify-edge-enriched",
              "zlm-v1-iab-domain-classifier",
              "zlm-v1-moderation-edge"
            ],
            "example": "llama-3.1-8b-instruct-fast"
          },
          "messages": {
            "type": "array",
            "minItems": 1,
            "description": "Ordered list of messages making up the conversation so far.",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Optional model-specific parameters, passed through to the model. For example, PII models accept `mask` and `usecase`. See the relevant [model page](/api-reference/models) for supported keys."
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "Role of the message author.",
            "enum": [
              "system",
              "user",
              "assistant"
            ]
          },
          "content": {
            "type": "string",
            "minLength": 1,
            "format": "textarea",
            "maxLength": 131072,
            "description": "The message text."
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "description": "An OpenAI-compatible chat completion.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the completion.",
            "example": "chatcmpl_abc123"
          },
          "object": {
            "type": "string",
            "description": "Object type. Always `chat.completion`.",
            "example": "chat.completion"
          },
          "created": {
            "type": "integer",
            "description": "Unix timestamp (seconds) when the completion was created.",
            "example": 1710000000
          },
          "model": {
            "type": "string",
            "description": "The model used for inference.",
            "example": "llama-3.1-8b-instruct-fast"
          },
          "choices": {
            "type": "array",
            "description": "List of completion choices.",
            "items": {
              "$ref": "#/components/schemas/ChatChoice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/ChatUsage"
          }
        }
      },
      "ChatChoice": {
        "type": "object",
        "description": "A single completion choice.",
        "properties": {
          "index": {
            "type": "integer",
            "description": "Position of this choice in the list.",
            "example": 0
          },
          "message": {
            "$ref": "#/components/schemas/ChatMessage"
          },
          "finish_reason": {
            "type": "string",
            "description": "Why the model stopped generating, for example `stop` or `length`.",
            "example": "stop"
          }
        }
      },
      "ChatUsage": {
        "type": "object",
        "description": "Token usage statistics for the request.",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "Number of tokens in the prompt.",
            "example": 112
          },
          "completion_tokens": {
            "type": "integer",
            "description": "Number of tokens in the generated completion.",
            "example": 44
          },
          "total_tokens": {
            "type": "integer",
            "description": "Total tokens consumed (prompt plus completion).",
            "example": 156
          }
        }
      },
      "Response": {
        "type": "object",
        "description": "The generated model response.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_abc123"
          },
          "object": {
            "type": "string",
            "description": "Object type. Always `response`.",
            "example": "response"
          },
          "created": {
            "type": "integer",
            "description": "Unix timestamp (seconds) when the response was created.",
            "example": 1710000000
          },
          "model": {
            "type": "string",
            "description": "The model used for inference.",
            "example": "llama-3.1-8b-instruct-fast"
          },
          "output": {
            "type": "array",
            "description": "Output message objects produced by the model.",
            "items": {
              "$ref": "#/components/schemas/OutputMessage"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "OutputMessage": {
        "type": "object",
        "description": "A single output item from the model.",
        "properties": {
          "type": {
            "type": "string",
            "description": "Output item type.",
            "example": "message"
          },
          "role": {
            "type": "string",
            "description": "Author of the output. Always `assistant`.",
            "example": "assistant"
          },
          "content": {
            "type": "array",
            "description": "Content parts that make up the message.",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Content part type.",
                  "example": "output_text"
                },
                "text": {
                  "type": "string",
                  "description": "The generated text.",
                  "example": "Artemis III, slated for late 2026, will return astronauts to the Moon for the first time since 1972."
                }
              }
            }
          }
        }
      },
      "Usage": {
        "type": "object",
        "description": "Token usage statistics for the request.",
        "properties": {
          "input_tokens": {
            "type": "integer",
            "description": "Number of tokens in the input.",
            "example": 112
          },
          "output_tokens": {
            "type": "integer",
            "description": "Number of tokens generated.",
            "example": 44
          },
          "total_tokens": {
            "type": "integer",
            "description": "Total tokens consumed (input plus output).",
            "example": 156
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Error payload returned on a failed request.",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Machine-readable error code, for example `insufficient_quota`.",
                "example": "insufficient_quota"
              },
              "message": {
                "type": "string",
                "description": "Human-readable description of the error.",
                "example": "You have insufficient quota to complete this request."
              }
            }
          }
        }
      },
      "CreateModerationRequest": {
        "type": "object",
        "required": [
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "default": "zlm-v1-moderation-edge",
            "example": "zlm-v1-moderation-edge",
            "description": "Moderation model to use. Defaults to the configured moderation model; OpenAI ids (`omni-moderation-latest`, `text-moderation-stable`) are accepted and mapped to it."
          },
          "input": {
            "description": "Text to classify. A single string, an array of strings (one result per element), or an array of content parts (`{ \"type\": \"text\", \"text\": \"...\" }`) forming one multi-modal input.",
            "oneOf": [
              {
                "type": "string",
                "minLength": 1
              },
              {
                "type": "array",
                "minItems": 1,
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "array",
                "minItems": 1,
                "items": {
                  "type": "object"
                }
              }
            ]
          }
        }
      },
      "ModerationCategories": {
        "type": "object",
        "description": "Per-category boolean verdicts. All 13 categories are always present, in OpenAI's order.",
        "properties": {
          "harassment": {
            "type": "boolean",
            "description": "Content that expresses, incites, or promotes harassing language towards any target.",
            "example": true
          },
          "harassment/threatening": {
            "type": "boolean",
            "description": "Harassment that also includes violence or serious harm towards any target.",
            "example": true
          },
          "hate": {
            "type": "boolean",
            "description": "Content that expresses, incites, or promotes hate based on a protected attribute.",
            "example": false
          },
          "hate/threatening": {
            "type": "boolean",
            "description": "Hateful content that also includes violence or serious harm towards a protected group.",
            "example": false
          },
          "illicit": {
            "type": "boolean",
            "description": "Content that gives advice or instruction on how to commit a wrongdoing.",
            "example": false
          },
          "illicit/violent": {
            "type": "boolean",
            "description": "Illicit content that also references violence or procuring a weapon.",
            "example": false
          },
          "self-harm": {
            "type": "boolean",
            "description": "Content that promotes, encourages, or depicts acts of self-harm.",
            "example": false
          },
          "self-harm/intent": {
            "type": "boolean",
            "description": "Content where the speaker expresses that they are engaging or intend to engage in self-harm.",
            "example": false
          },
          "self-harm/instructions": {
            "type": "boolean",
            "description": "Content that provides instructions or advice on how to commit acts of self-harm.",
            "example": false
          },
          "sexual": {
            "type": "boolean",
            "description": "Content meant to arouse sexual excitement or that promotes sexual services.",
            "example": false
          },
          "sexual/minors": {
            "type": "boolean",
            "description": "Sexual content that includes an individual under 18 years old.",
            "example": false
          },
          "violence": {
            "type": "boolean",
            "description": "Content that depicts death, violence, or physical injury.",
            "example": true
          },
          "violence/graphic": {
            "type": "boolean",
            "description": "Content that depicts death, violence, or physical injury in graphic detail.",
            "example": false
          }
        }
      },
      "ModerationCategoryScores": {
        "type": "object",
        "description": "Per-category confidence scores in [0, 1]. All 13 categories are always present, in OpenAI's order.",
        "properties": {
          "harassment": {
            "type": "number",
            "description": "Confidence score for `harassment`.",
            "example": 0.9412
          },
          "harassment/threatening": {
            "type": "number",
            "description": "Confidence score for `harassment/threatening`.",
            "example": 0.9016
          },
          "hate": {
            "type": "number",
            "description": "Confidence score for `hate`.",
            "example": 0.0231
          },
          "hate/threatening": {
            "type": "number",
            "description": "Confidence score for `hate/threatening`.",
            "example": 0.0104
          },
          "illicit": {
            "type": "number",
            "description": "Confidence score for `illicit`.",
            "example": 0.0057
          },
          "illicit/violent": {
            "type": "number",
            "description": "Confidence score for `illicit/violent`.",
            "example": 0.0039
          },
          "self-harm": {
            "type": "number",
            "description": "Confidence score for `self-harm`.",
            "example": 0.0021
          },
          "self-harm/intent": {
            "type": "number",
            "description": "Confidence score for `self-harm/intent`.",
            "example": 0.0012
          },
          "self-harm/instructions": {
            "type": "number",
            "description": "Confidence score for `self-harm/instructions`.",
            "example": 0.0008
          },
          "sexual": {
            "type": "number",
            "description": "Confidence score for `sexual`.",
            "example": 0.0006
          },
          "sexual/minors": {
            "type": "number",
            "description": "Confidence score for `sexual/minors`.",
            "example": 0.0002
          },
          "violence": {
            "type": "number",
            "description": "Confidence score for `violence`.",
            "example": 0.8774
          },
          "violence/graphic": {
            "type": "number",
            "description": "Confidence score for `violence/graphic`.",
            "example": 0.0311
          }
        }
      },
      "ModerationAppliedInputTypes": {
        "type": "object",
        "description": "Which input modality triggered each category. This is a text-only model, so every category maps to [\"text\"].",
        "properties": {
          "harassment": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "text"
            ]
          },
          "harassment/threatening": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "text"
            ]
          },
          "hate": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "text"
            ]
          },
          "hate/threatening": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "text"
            ]
          },
          "illicit": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "text"
            ]
          },
          "illicit/violent": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "text"
            ]
          },
          "self-harm": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "text"
            ]
          },
          "self-harm/intent": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "text"
            ]
          },
          "self-harm/instructions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "text"
            ]
          },
          "sexual": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "text"
            ]
          },
          "sexual/minors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "text"
            ]
          },
          "violence": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "text"
            ]
          },
          "violence/graphic": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "text"
            ]
          }
        }
      },
      "ModerationResult": {
        "type": "object",
        "description": "A single entry of the `results` array — the verdict for one input.",
        "properties": {
          "flagged": {
            "type": "boolean",
            "description": "True when the model flagged the input in one or more categories.",
            "example": true
          },
          "categories": {
            "$ref": "#/components/schemas/ModerationCategories"
          },
          "category_scores": {
            "$ref": "#/components/schemas/ModerationCategoryScores"
          },
          "category_applied_input_types": {
            "$ref": "#/components/schemas/ModerationAppliedInputTypes"
          }
        }
      },
      "ModerationResponse": {
        "type": "object",
        "description": "OpenAI-compatible moderations envelope. One `results` entry per input.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the moderation request.",
            "example": "modr-0a1b2c3d4e5f60718293a4b5c6d7e8f90"
          },
          "model": {
            "type": "string",
            "description": "The model used for classification.",
            "example": "zlm-v1-moderation-edge"
          },
          "results": {
            "type": "array",
            "description": "Moderation verdicts, one per input (a string input yields a single-element array).",
            "items": {
              "$ref": "#/components/schemas/ModerationResult"
            }
          }
        }
      }
    }
  }
}
