{
  "openapi": "3.1.0",
  "info": {
    "title": "deberta-v3-small playground",
    "version": "1.0",
    "description": "Interactive playground for **deberta-v3-small**.\nModel is always `deberta-v3-small` on this page (shown in the form, not editable).\nUse the **request example** selector to switch use cases (JSON, NER, PII, etc.).\nAuthentication: `x-api-key` and `x-project-id`."
  },
  "servers": [
    {
      "url": "https://api.zerogpu.ai/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKey": [],
      "ProjectId": []
    }
  ],
  "paths": {
    "/responses": {
      "post": {
        "operationId": "createResponse_deberta-v3-small",
        "summary": "deberta-v3-small: Responses",
        "tags": [
          "deberta-v3-small"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateResponseRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "deberta-v3-small",
                        "default": "deberta-v3-small",
                        "example": "deberta-v3-small",
                        "description": "Model identifier (fixed for this playground). Use request examples to change use cases."
                      }
                    }
                  }
                ]
              },
              "examples": {
                "default": {
                  "summary": "Default",
                  "value": {
                    "input": "Apple is expected to unveil its next-generation M5 chip at WWDC this June, promising a 40% boost in GPU performance and a new dedicated AI core for on-device machine learning tasks.",
                    "model": "deberta-v3-small",
                    "instructions": "[sports, finance, politics]"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "examples": {
                  "default": {
                    "summary": "Default",
                    "value": {
                      "technology": 0.971784,
                      "politics": 0.011858,
                      "sports": 0.01175,
                      "finance": 0.004608
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "420": {
            "description": "Insufficient quota",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/chat/completions": {
      "post": {
        "operationId": "createChatCompletion_deberta-v3-small",
        "summary": "deberta-v3-small: Chat completions",
        "tags": [
          "deberta-v3-small"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateChatCompletionRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "deberta-v3-small",
                        "default": "deberta-v3-small",
                        "example": "deberta-v3-small",
                        "description": "Model identifier (fixed for this playground). Use request examples to change use cases."
                      }
                    }
                  }
                ]
              },
              "examples": {
                "default": {
                  "summary": "Default",
                  "value": {
                    "model": "deberta-v3-small",
                    "messages": [
                      {
                        "role": "system",
                        "content": "[Sports,Politics,Technology,Finance,Entertainment]"
                      },
                      {
                        "role": "user",
                        "content": "Apple is expected to unveil its next-generation M5 chip at WWDC this June, promising a 40% boost in GPU performance and a new dedicated AI core for on-device machine learning tasks."
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                },
                "examples": {
                  "default": {
                    "summary": "Default",
                    "value": {
                      "technology": 0.971784,
                      "politics": 0.011858,
                      "sports": 0.01175,
                      "finance": 0.004608
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "420": {
            "description": "Insufficient quota"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      },
      "ProjectId": {
        "type": "apiKey",
        "in": "header",
        "name": "x-project-id"
      }
    },
    "schemas": {
      "CreateResponseRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "const": "deberta-v3-small",
            "default": "deberta-v3-small",
            "example": "deberta-v3-small",
            "description": "Model identifier (fixed for this playground). Use request examples to change use cases."
          },
          "input": {
            "type": "string",
            "minLength": 1,
            "format": "textarea",
            "maxLength": 131072,
            "description": "Multi-line text or document content to send to the model."
          },
          "instructions": {
            "type": "string",
            "example": "[sports, finance, politics]",
            "description": "Candidate categories for zero-shot classification, passed as a comma-separated array (e.g. `[sports, finance, politics]`). A maximum of 10 categories is supported; response time increases with the number of categories provided."
          }
        }
      },
      "CreateChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "const": "deberta-v3-small",
            "default": "deberta-v3-small",
            "example": "deberta-v3-small",
            "description": "Model identifier (fixed for this playground). Use request examples to change use cases."
          },
          "messages": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant"
            ]
          },
          "content": {
            "type": "string",
            "minLength": 1,
            "format": "textarea",
            "maxLength": 131072,
            "description": "Message text."
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "additionalProperties": true
      },
      "InputMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "system"
            ]
          },
          "content": {
            "type": "string",
            "minLength": 1,
            "format": "textarea",
            "maxLength": 131072,
            "description": "Message text."
          }
        }
      },
      "Response": {
        "type": "object",
        "additionalProperties": true
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": true
      }
    }
  }
}
