{
  "openapi": "3.1.0",
  "info": {
    "title": "deepseek-v4-flash playground",
    "version": "1.0",
    "description": "Interactive playground for **deepseek-v4-flash**.\nModel is always `deepseek-v4-flash` on this page (shown in the form, not editable).\nUse the **request example** selector to switch use cases (JSON, NER, PII, etc.).\nAuthentication: `x-api-key` (required) and `x-project-id` (optional)."
  },
  "servers": [
    {
      "url": "https://api.zerogpu.ai/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKey": []
    }
  ],
  "paths": {
    "/chat/completions": {
      "post": {
        "operationId": "createChatCompletion_deepseek-v4-flash",
        "summary": "deepseek-v4-flash: Chat completions",
        "tags": [
          "deepseek-v4-flash"
        ],
        "parameters": [
          {
            "name": "x-project-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional project identifier. Scopes the request to a specific project when provided."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateChatCompletionRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "deepseek-v4-flash",
                        "default": "deepseek-v4-flash",
                        "example": "deepseek-v4-flash",
                        "description": "Model identifier (fixed for this playground). Use request examples to change use cases."
                      }
                    }
                  }
                ]
              },
              "examples": {
                "default": {
                  "summary": "Default",
                  "value": {
                    "model": "deepseek-v4-flash",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a pragmatic staff engineer. Be concise."
                      },
                      {
                        "role": "user",
                        "content": "Plan the migration of a nightly cron-based ETL job to an event-driven pipeline. 4 steps max."
                      }
                    ],
                    "max_tokens": 800
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                },
                "examples": {
                  "default": {
                    "summary": "Default",
                    "value": {
                      "id": "id-1785523944762",
                      "object": "chat.completion",
                      "created": 1785523944,
                      "model": "deepseek-v4-flash",
                      "choices": [
                        {
                          "index": 0,
                          "finish_reason": "stop",
                          "message": {
                            "role": "assistant",
                            "content": "**1. Inventory the job** – Document inputs, outputs, schedule, and every downstream consumer of the cron ETL so nothing breaks silently.\n\n**2. Define the events** – Pick the real trigger (file landing, DB change, message) and publish it to a queue or event bus with a versioned schema.\n\n**3. Run in parallel** – Build the event-driven consumer alongside cron, write to a shadow table, and diff outputs until they match.\n\n**4. Cut over with a rollback path** – Point consumers at the new output, keep cron paused (not deleted) for one cycle, then decommission.",
                            "reasoning": "Cron ETL to event-driven: inventory the current job first, define the trigger events, run the new pipeline in parallel against a shadow output, then cut over with a rollback path. Four steps, each actionable.",
                            "tool_calls": []
                          }
                        }
                      ],
                      "usage": {
                        "prompt_tokens": 52,
                        "completion_tokens": 158,
                        "total_tokens": 210
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "420": {
            "description": "Insufficient quota"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "CreateChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "const": "deepseek-v4-flash",
            "default": "deepseek-v4-flash",
            "example": "deepseek-v4-flash",
            "description": "Model identifier (fixed for this playground). Use request examples to change use cases."
          },
          "messages": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          "max_tokens": {
            "type": "integer",
            "minimum": 1,
            "example": 800,
            "description": "Maximum number of tokens to generate in the response."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant"
            ]
          },
          "content": {
            "type": "string",
            "minLength": 1,
            "format": "textarea",
            "maxLength": 131072,
            "description": "Message text."
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "additionalProperties": true
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": true
      }
    }
  }
}
