{
  "openapi": "3.1.0",
  "info": {
    "title": "gliner2.5-multi-v1 playground",
    "version": "1.0",
    "description": "Interactive playground for **gliner2.5-multi-v1**.\nModel is always `gliner2.5-multi-v1` on this page (shown in the form, not editable).\nUse the **request example** selector to switch use cases (NER, JSON, classification).\nAuthentication: `x-api-key` (required) and `x-project-id` (optional)."
  },
  "servers": [
    {
      "url": "https://api.zerogpu.ai/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKey": []
    }
  ],
  "paths": {
    "/responses": {
      "post": {
        "operationId": "createResponse_gliner2_5-multi-v1",
        "summary": "gliner2.5-multi-v1: Responses",
        "tags": [
          "gliner2.5-multi-v1"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateResponseRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "gliner2.5-multi-v1",
                        "default": "gliner2.5-multi-v1",
                        "example": "gliner2.5-multi-v1",
                        "description": "Model identifier (fixed for this playground). Use request examples to change use cases."
                      }
                    }
                  }
                ]
              },
              "examples": {
                "ner": {
                  "summary": "Entity Extraction",
                  "value": {
                    "input": "The application is built with Python 3.11 and uses PostgreSQL 15 for storage. It runs on Kubernetes with Docker containers and communicates via gRPC.",
                    "model": "gliner2.5-multi-v1",
                    "metadata": {
                      "labels": [
                        "programming language",
                        "database",
                        "technology",
                        "protocol"
                      ],
                      "usecase": "ner",
                      "threshold": 0.3
                    }
                  }
                },
                "json": {
                  "summary": "Structured Data Extraction",
                  "value": {
                    "input": "Best regards, John Smith, Senior Software Engineer at Acme Corp. Phone: (555) 123-4567, Email: john.smith@acme.com, Office: 123 Main Street, Suite 400, San Francisco, CA 94105",
                    "model": "gliner2.5-multi-v1",
                    "metadata": {
                      "schema": {
                        "contact": [
                          "name::str::Full name",
                          "title::str::Job title",
                          "company::str::Company name",
                          "phone::str::Phone number",
                          "email::str::Email address",
                          "address::str::Office address"
                        ]
                      },
                      "usecase": "json"
                    }
                  }
                },
                "classification": {
                  "summary": "Text Classification",
                  "value": {
                    "input": "I absolutely love this product! The quality is outstanding and the customer service was incredibly helpful.",
                    "model": "gliner2.5-multi-v1",
                    "metadata": {
                      "schema": {
                        "sentiment": [
                          "positive",
                          "negative",
                          "neutral"
                        ]
                      },
                      "usecase": "classification"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "420": {
            "description": "Insufficient quota",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "x-project-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional project identifier. Scopes the request to a specific project when provided."
          }
        ]
      }
    },
    "/chat/completions": {
      "post": {
        "operationId": "createChatCompletion_gliner2_5-multi-v1",
        "summary": "gliner2.5-multi-v1: Chat completions",
        "tags": [
          "gliner2.5-multi-v1"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateChatCompletionRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "gliner2.5-multi-v1",
                        "default": "gliner2.5-multi-v1",
                        "example": "gliner2.5-multi-v1",
                        "description": "Model identifier (fixed for this playground). Use request examples to change use cases."
                      }
                    }
                  }
                ]
              },
              "examples": {
                "ner": {
                  "summary": "Entity Extraction",
                  "value": {
                    "model": "gliner2.5-multi-v1",
                    "messages": [
                      {
                        "role": "user",
                        "content": "The application is built with Python 3.11 and uses PostgreSQL 15 for storage. It runs on Kubernetes with Docker containers and communicates via gRPC."
                      }
                    ],
                    "metadata": {
                      "labels": [
                        "programming language",
                        "database",
                        "technology",
                        "protocol"
                      ],
                      "usecase": "ner",
                      "threshold": 0.3
                    }
                  }
                },
                "json": {
                  "summary": "Structured Data Extraction",
                  "value": {
                    "model": "gliner2.5-multi-v1",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Best regards, John Smith, Senior Software Engineer at Acme Corp. Phone: (555) 123-4567, Email: john.smith@acme.com, Office: 123 Main Street, Suite 400, San Francisco, CA 94105"
                      }
                    ],
                    "metadata": {
                      "schema": {
                        "contact": [
                          "name::str::Full name",
                          "title::str::Job title",
                          "company::str::Company name",
                          "phone::str::Phone number",
                          "email::str::Email address",
                          "address::str::Office address"
                        ]
                      },
                      "usecase": "json"
                    }
                  }
                },
                "classification": {
                  "summary": "Text Classification",
                  "value": {
                    "model": "gliner2.5-multi-v1",
                    "messages": [
                      {
                        "role": "user",
                        "content": "I absolutely love this product! The quality is outstanding and the customer service was incredibly helpful."
                      }
                    ],
                    "metadata": {
                      "schema": {
                        "sentiment": [
                          "positive",
                          "negative",
                          "neutral"
                        ]
                      },
                      "usecase": "classification"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "420": {
            "description": "Insufficient quota"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "x-project-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional project identifier. Scopes the request to a specific project when provided."
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "CreateResponseRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "const": "gliner2.5-multi-v1",
            "default": "gliner2.5-multi-v1",
            "example": "gliner2.5-multi-v1",
            "description": "Model identifier (fixed for this playground). Use request examples to change use cases."
          },
          "input": {
            "type": "string",
            "minLength": 1,
            "format": "textarea",
            "maxLength": 131072,
            "description": "Multi-line text or document content to send to the model."
          },
          "metadata": {
            "type": "object",
            "description": "Use-case options for the model. Three use cases are supported:\n- `ner` \u2014 extract entities for the given `labels`.\n- `json` \u2014 extract structured fields defined by a `schema`.\n- `classification` \u2014 assign labels from candidate sets defined by a `schema`.",
            "additionalProperties": true,
            "properties": {
              "usecase": {
                "type": "string",
                "enum": [
                  "ner",
                  "json",
                  "classification"
                ],
                "default": "ner",
                "description": "Which operation to run and which other fields apply: `ner` uses `labels`; `json` and `classification` use `schema`."
              },
              "labels": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": [
                  "programming language",
                  "database",
                  "technology",
                  "protocol"
                ],
                "description": "Entity types to extract, used when `usecase` is `ner`. Each label becomes a key in the returned `entities` object."
              },
              "threshold": {
                "type": "number",
                "minimum": 0,
                "maximum": 1,
                "default": 0.5,
                "description": "Minimum confidence score (0\u20131) an entity must reach to be returned (used with `ner`). Lower values surface more, lower-confidence matches."
              },
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "description": "Extraction/classification definition, used when `usecase` is `json` or `classification`. For `json`, each group maps to field definitions in `name::type::description` form (e.g. `\"email::str::Email address\"`). For `classification`, each group maps to a list of candidate labels (e.g. `[\"positive\", \"negative\", \"neutral\"]`).",
                "example": {
                  "contact": [
                    "name::str::Full name",
                    "email::str::Email address",
                    "phone::str::Phone number"
                  ]
                }
              }
            }
          }
        }
      },
      "CreateChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "const": "gliner2.5-multi-v1",
            "default": "gliner2.5-multi-v1",
            "example": "gliner2.5-multi-v1",
            "description": "Model identifier (fixed for this playground). Use request examples to change use cases."
          },
          "messages": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          "metadata": {
            "type": "object",
            "description": "Use-case options for the model. Three use cases are supported:\n- `ner` \u2014 extract entities for the given `labels`.\n- `json` \u2014 extract structured fields defined by a `schema`.\n- `classification` \u2014 assign labels from candidate sets defined by a `schema`.",
            "additionalProperties": true,
            "properties": {
              "usecase": {
                "type": "string",
                "enum": [
                  "ner",
                  "json",
                  "classification"
                ],
                "default": "ner",
                "description": "Which operation to run and which other fields apply: `ner` uses `labels`; `json` and `classification` use `schema`."
              },
              "labels": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": [
                  "programming language",
                  "database",
                  "technology",
                  "protocol"
                ],
                "description": "Entity types to extract, used when `usecase` is `ner`. Each label becomes a key in the returned `entities` object."
              },
              "threshold": {
                "type": "number",
                "minimum": 0,
                "maximum": 1,
                "default": 0.5,
                "description": "Minimum confidence score (0\u20131) an entity must reach to be returned (used with `ner`). Lower values surface more, lower-confidence matches."
              },
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "description": "Extraction/classification definition, used when `usecase` is `json` or `classification`. For `json`, each group maps to field definitions in `name::type::description` form (e.g. `\"email::str::Email address\"`). For `classification`, each group maps to a list of candidate labels (e.g. `[\"positive\", \"negative\", \"neutral\"]`).",
                "example": {
                  "contact": [
                    "name::str::Full name",
                    "email::str::Email address",
                    "phone::str::Phone number"
                  ]
                }
              }
            }
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant"
            ]
          },
          "content": {
            "type": "string",
            "minLength": 1,
            "format": "textarea",
            "maxLength": 131072,
            "description": "Message text."
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "additionalProperties": true
      },
      "InputMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "system"
            ]
          },
          "content": {
            "type": "string",
            "minLength": 1,
            "format": "textarea",
            "maxLength": 131072,
            "description": "Message text."
          }
        }
      },
      "Response": {
        "type": "object",
        "additionalProperties": true
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": true
      }
    }
  }
}
