{
  "openapi": "3.1.0",
  "info": {
    "title": "zlm-v1-iab-domain-classifier playground",
    "version": "1.0",
    "description": "Interactive playground for **zlm-v1-iab-domain-classifier**.\nModel is always `zlm-v1-iab-domain-classifier` on this page (shown in the form, not editable).\nUse the **request example** selector to switch use cases (JSON, NER, PII, etc.).\nAuthentication: `x-api-key` and `x-project-id`."
  },
  "servers": [
    {
      "url": "https://api.zerogpu.ai/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKey": [],
      "ProjectId": []
    }
  ],
  "paths": {
    "/responses": {
      "post": {
        "operationId": "createResponse_zlm-v1-iab-domain-classifier",
        "summary": "zlm-v1-iab-domain-classifier: Responses",
        "tags": [
          "zlm-v1-iab-domain-classifier"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateResponseRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "zlm-v1-iab-domain-classifier",
                        "default": "zlm-v1-iab-domain-classifier",
                        "example": "zlm-v1-iab-domain-classifier",
                        "description": "Model identifier (fixed for this playground). Use request examples to change use cases."
                      }
                    }
                  }
                ]
              },
              "examples": {
                "default": {
                  "summary": "Default",
                  "value": {
                    "input": "nytimes.com",
                    "model": "zlm-v1-iab-domain-classifier"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "examples": {
                  "default": {
                    "summary": "Default",
                    "value": {
                      "content": {
                        "iab_1_0": [
                          {
                            "name": "News",
                            "score": 0.8124
                          },
                          {
                            "name": "Politics",
                            "score": 0.6533
                          }
                        ],
                        "iab_2_2": [
                          {
                            "name": "News and Politics",
                            "score": 0.8124
                          },
                          {
                            "name": "Business and Finance",
                            "score": 0.598
                          }
                        ]
                      },
                      "topics": [
                        {
                          "name": "news",
                          "score": 0.8124
                        },
                        {
                          "name": "journalism",
                          "score": 0.674
                        },
                        {
                          "name": "current events",
                          "score": 0.6533
                        }
                      ],
                      "keywords": ["news", "politics", "world", "business", "opinion", "media", "journalism"],
                      "user_intent": {
                        "name": "reading news and current events",
                        "category": "informational",
                        "score": 0.5
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "420": {
            "description": "Insufficient quota",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/chat/completions": {
      "post": {
        "operationId": "createChatCompletion_zlm-v1-iab-domain-classifier",
        "summary": "zlm-v1-iab-domain-classifier: Chat completions",
        "tags": [
          "zlm-v1-iab-domain-classifier"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateChatCompletionRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "zlm-v1-iab-domain-classifier",
                        "default": "zlm-v1-iab-domain-classifier",
                        "example": "zlm-v1-iab-domain-classifier",
                        "description": "Model identifier (fixed for this playground). Use request examples to change use cases."
                      }
                    }
                  }
                ]
              },
              "examples": {
                "default": {
                  "summary": "Default",
                  "value": {
                    "model": "zlm-v1-iab-domain-classifier",
                    "messages": [
                      {
                        "role": "user",
                        "content": "nytimes.com"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                },
                "examples": {
                  "default": {
                    "summary": "Default",
                    "value": {
                      "content": {
                        "iab_1_0": [
                          {
                            "name": "News",
                            "score": 0.8124
                          },
                          {
                            "name": "Politics",
                            "score": 0.6533
                          }
                        ],
                        "iab_2_2": [
                          {
                            "name": "News and Politics",
                            "score": 0.8124
                          },
                          {
                            "name": "Business and Finance",
                            "score": 0.598
                          }
                        ]
                      },
                      "topics": [
                        {
                          "name": "news",
                          "score": 0.8124
                        },
                        {
                          "name": "journalism",
                          "score": 0.674
                        },
                        {
                          "name": "current events",
                          "score": 0.6533
                        }
                      ],
                      "keywords": ["news", "politics", "world", "business", "opinion", "media", "journalism"],
                      "user_intent": {
                        "name": "reading news and current events",
                        "category": "informational",
                        "score": 0.5
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "420": {
            "description": "Insufficient quota",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      },
      "ProjectId": {
        "type": "apiKey",
        "in": "header",
        "name": "x-project-id"
      }
    },
    "schemas": {
      "CreateResponseRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "const": "zlm-v1-iab-domain-classifier",
            "default": "zlm-v1-iab-domain-classifier",
            "example": "zlm-v1-iab-domain-classifier",
            "description": "Model identifier (fixed for this playground). Use request examples to change use cases."
          },
          "input": {
            "type": "string",
            "minLength": 1,
            "format": "textarea",
            "maxLength": 131072,
            "description": "Raw domain name to classify (e.g. nytimes.com)."
          }
        }
      },
      "CreateChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "const": "zlm-v1-iab-domain-classifier",
            "default": "zlm-v1-iab-domain-classifier",
            "example": "zlm-v1-iab-domain-classifier",
            "description": "Model identifier (fixed for this playground). Use request examples to change use cases."
          },
          "messages": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant"
            ]
          },
          "content": {
            "type": "string",
            "minLength": 1,
            "format": "textarea",
            "maxLength": 131072,
            "description": "Message text."
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "additionalProperties": true
      },
      "InputMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "system"
            ]
          },
          "content": {
            "type": "string",
            "minLength": 1,
            "format": "textarea",
            "maxLength": 131072,
            "description": "Message text."
          }
        }
      },
      "Response": {
        "type": "object",
        "additionalProperties": true
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": true
      }
    }
  }
}
