{
  "openapi": "3.1.0",
  "info": {
    "title": "zlm-v1-signal-extract playground",
    "version": "1.0",
    "description": "Interactive playground for **zlm-v1-signal-extract**.\nModel is always `zlm-v1-signal-extract` on this page (shown in the form, not editable).\nPass the signal categories you want in `categories`; `max_keywords` caps how many keywords come back."
  },
  "servers": [
    {
      "url": "https://api.zerogpu.ai/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKey": []
    }
  ],
  "paths": {
    "/responses": {
      "post": {
        "operationId": "createResponse_zlm-v1-signal-extract",
        "summary": "zlm-v1-signal-extract: Responses",
        "tags": [
          "zlm-v1-signal-extract"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateResponseRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "zlm-v1-signal-extract",
                        "default": "zlm-v1-signal-extract",
                        "example": "zlm-v1-signal-extract",
                        "description": "Model identifier (fixed for this playground). Use request examples to change use cases."
                      }
                    }
                  }
                ]
              },
              "examples": {
                "default": {
                  "summary": "Default",
                  "value": {
                    "model": "zlm-v1-signal-extract",
                    "input": "How can I pay using my credit card?",
                    "categories": [
                      "signals"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "examples": {
                  "default": {
                    "summary": "Default",
                    "value": {
                      "audience": [
                        {
                          "name": "Technology & Computing",
                          "score": 0.7686
                        },
                        {
                          "name": "Consumer Electronics",
                          "score": 0.7206
                        },
                        {
                          "name": "65-69",
                          "score": 0.595
                        }
                      ],
                      "content": {
                        "iab_1_0": [
                          {
                            "name": "Cell Phones",
                            "score": 0.7597
                          },
                          {
                            "name": "Technology & Computing",
                            "score": 0.7387
                          }
                        ],
                        "iab_2_2": [
                          {
                            "name": "Smartphones",
                            "score": 0.7597
                          },
                          {
                            "name": "Wearable Technology",
                            "score": 0.7387
                          },
                          {
                            "name": "Technology & Computing",
                            "score": 0.7109
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "420": {
            "description": "Insufficient quota",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "x-project-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional project identifier. Scopes the request to a specific project when provided."
          }
        ]
      }
    },
    "/chat/completions": {
      "post": {
        "operationId": "createChatCompletion_zlm-v1-signal-extract",
        "summary": "zlm-v1-signal-extract: Chat completions",
        "tags": [
          "zlm-v1-signal-extract"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateChatCompletionRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "zlm-v1-signal-extract",
                        "default": "zlm-v1-signal-extract",
                        "example": "zlm-v1-signal-extract",
                        "description": "Model identifier (fixed for this playground). Use request examples to change use cases."
                      }
                    }
                  }
                ]
              },
              "examples": {
                "default": {
                  "summary": "Default",
                  "value": {
                    "model": "zlm-v1-signal-extract",
                    "messages": [
                      {
                        "role": "user",
                        "content": "How can I pay using my credit card?"
                      }
                    ],
                    "categories": [
                      "signals"
                    ],
                    "max_keywords": 6
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                },
                "examples": {
                  "default": {
                    "summary": "Default",
                    "value": {
                      "audience": [
                        {
                          "name": "Technology & Computing",
                          "score": 0.7686
                        },
                        {
                          "name": "Consumer Electronics",
                          "score": 0.7206
                        },
                        {
                          "name": "65-69",
                          "score": 0.595
                        }
                      ],
                      "content": {
                        "iab_1_0": [
                          {
                            "name": "Cell Phones",
                            "score": 0.7597
                          },
                          {
                            "name": "Technology & Computing",
                            "score": 0.7387
                          }
                        ],
                        "iab_2_2": [
                          {
                            "name": "Smartphones",
                            "score": 0.7597
                          },
                          {
                            "name": "Wearable Technology",
                            "score": 0.7387
                          },
                          {
                            "name": "Technology & Computing",
                            "score": 0.7109
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "420": {
            "description": "Insufficient quota"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "x-project-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional project identifier. Scopes the request to a specific project when provided."
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "CreateResponseRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "const": "zlm-v1-signal-extract",
            "default": "zlm-v1-signal-extract",
            "example": "zlm-v1-signal-extract",
            "description": "Model identifier (fixed for this playground). Use request examples to change use cases."
          },
          "input": {
            "type": "string",
            "minLength": 1,
            "format": "textarea",
            "maxLength": 131072,
            "description": "Multi-line text or document content to send to the model."
          }
        }
      },
      "CreateChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "const": "zlm-v1-signal-extract",
            "default": "zlm-v1-signal-extract",
            "example": "zlm-v1-signal-extract",
            "description": "Model identifier (fixed for this playground). Use request examples to change use cases."
          },
          "messages": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant"
            ]
          },
          "content": {
            "type": "string",
            "minLength": 1,
            "format": "textarea",
            "maxLength": 131072,
            "description": "Message text."
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "additionalProperties": true
      },
      "InputMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "system"
            ]
          },
          "content": {
            "type": "string",
            "minLength": 1,
            "format": "textarea",
            "maxLength": 131072,
            "description": "Message text."
          }
        }
      },
      "Response": {
        "type": "object",
        "additionalProperties": true
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": true
      }
    }
  }
}
