{
  "openapi": "3.1.0",
  "info": {
    "title": "gliner-multi-pii-v1 playground",
    "version": "1.0",
    "description": "Interactive playground for **gliner-multi-pii-v1**.\nModel is always `gliner-multi-pii-v1` on this page (shown in the form, not editable).\nUse the **request example** selector to switch use cases (JSON, NER, PII, etc.).\nAuthentication: `x-api-key` and `x-project-id`."
  },
  "servers": [
    {
      "url": "https://api.zerogpu.ai/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKey": [],
      "ProjectId": []
    }
  ],
  "paths": {
    "/responses": {
      "post": {
        "operationId": "createResponse_gliner-multi-pii-v1",
        "summary": "gliner-multi-pii-v1: Responses",
        "tags": [
          "gliner-multi-pii-v1"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateResponseRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "gliner-multi-pii-v1",
                        "default": "gliner-multi-pii-v1",
                        "example": "gliner-multi-pii-v1",
                        "description": "Model identifier (fixed for this playground). Use request examples to change use cases."
                      }
                    }
                  }
                ]
              },
              "examples": {
                "redact": {
                  "summary": "PII Redaction",
                  "value": {
                    "input": "Hello Jane Doe, this is John Doe reaching out regarding my recent order. If you need any additional details, feel free to call me at 415-555-0134 during business hours. You can also email me at hi@example.com, and I’ll respond as soon as possible. Looking forward to your update on the issue.",
                    "model": "gliner-multi-pii-v1",
                    "metadata": {
                      "mask": "label",
                      "usecase": "redact"
                    }
                  }
                },
                "extract-pii": {
                  "summary": "PII Extraction",
                  "value": {
                    "input": "Contact John Doe at john@example.com or +1-415-555-0134.",
                    "model": "gliner-multi-pii-v1",
                    "metadata": {
                      "usecase": "extract-pii",
                      "threshold": 0.5,
                      "categories": [
                        "identity",
                        "contact"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "420": {
            "description": "Context length exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/chat/completions": {
      "post": {
        "operationId": "createChatCompletion_gliner-multi-pii-v1",
        "summary": "gliner-multi-pii-v1: Chat completions",
        "tags": [
          "gliner-multi-pii-v1"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateChatCompletionRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "gliner-multi-pii-v1",
                        "default": "gliner-multi-pii-v1",
                        "example": "gliner-multi-pii-v1",
                        "description": "Model identifier (fixed for this playground). Use request examples to change use cases."
                      }
                    }
                  }
                ]
              },
              "examples": {
                "redact": {
                  "summary": "PII Redaction",
                  "value": {
                    "model": "gliner-multi-pii-v1",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Hello Jane Doe, this is John Doe reaching out regarding my recent order. If you need any additional details, feel free to call me at 415-555-0134 during business hours. You can also email me at hi@example.com, and I’ll respond as soon as possible. Looking forward to your update on the issue."
                      }
                    ],
                    "metadata": {
                      "mask": "label",
                      "usecase": "redact"
                    }
                  }
                },
                "extract-pii": {
                  "summary": "PII Extraction",
                  "value": {
                    "model": "gliner-multi-pii-v1",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Contact John Doe at john@example.com or +1-415-555-0134."
                      }
                    ],
                    "metadata": {
                      "usecase": "extract-pii",
                      "threshold": 0.5,
                      "categories": [
                        "identity",
                        "contact"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "420": {
            "description": "Context length exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      },
      "ProjectId": {
        "type": "apiKey",
        "in": "header",
        "name": "x-project-id"
      }
    },
    "schemas": {
      "CreateResponseRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "const": "gliner-multi-pii-v1",
            "default": "gliner-multi-pii-v1",
            "example": "gliner-multi-pii-v1",
            "description": "Model identifier (fixed for this playground). Use request examples to change use cases."
          },
          "input": {
            "type": "string",
            "minLength": 1,
            "format": "textarea",
            "maxLength": 131072,
            "description": "Multi-line text or document content to send to the model."
          },
          "instructions": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "CreateChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "const": "gliner-multi-pii-v1",
            "default": "gliner-multi-pii-v1",
            "example": "gliner-multi-pii-v1",
            "description": "Model identifier (fixed for this playground). Use request examples to change use cases."
          },
          "messages": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant"
            ]
          },
          "content": {
            "type": "string",
            "minLength": 1,
            "format": "textarea",
            "maxLength": 131072,
            "description": "Message text."
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "additionalProperties": true
      },
      "InputMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "system"
            ]
          },
          "content": {
            "type": "string",
            "minLength": 1,
            "format": "textarea",
            "maxLength": 131072,
            "description": "Message text."
          }
        }
      },
      "Response": {
        "type": "object",
        "additionalProperties": true
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": true
      }
    }
  }
}
