{
  "openapi": "3.1.0",
  "info": {
    "title": "zlm-v1-followup-questions-edge playground",
    "version": "1.0",
    "description": "Interactive playground for **zlm-v1-followup-questions-edge**.\nUse the **request example** selector to switch use cases (JSON, NER, PII, etc.).\nAuthentication: `x-api-key` and `x-project-id`."
  },
  "servers": [
    {
      "url": "https://api.zerogpu.ai/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKey": [],
      "ProjectId": []
    }
  ],
  "paths": {
    "/responses": {
      "post": {
        "operationId": "createResponse_zlm-v1-followup-questions-edge",
        "summary": "zlm-v1-followup-questions-edge — Responses",
        "tags": [
          "zlm-v1-followup-questions-edge"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateResponseRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "enum": [
                          "zlm-v1-followup-questions-edge"
                        ],
                        "default": "zlm-v1-followup-questions-edge",
                        "example": "zlm-v1-followup-questions-edge"
                      }
                    }
                  }
                ]
              },
              "examples": {
                "default": {
                  "summary": "Default",
                  "value": {
                    "input": "Electric vehicles are gaining popularity worldwide as battery costs drop and charging infrastructure expands. Most modern EVs offer a range of 250 to 350 miles on a single charge, and fast-charging stations can replenish 80% of battery capacity in under 30 minutes. However, concerns around battery disposal, rare earth mineral sourcing, and grid capacity continue to shape the debate around large-scale EV adoption.",
                    "model": "zlm-v1-followup-questions-edge"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "420": {
            "description": "Context length exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/chat/completions": {
      "post": {
        "operationId": "createChatCompletion_zlm-v1-followup-questions-edge",
        "summary": "zlm-v1-followup-questions-edge — Chat completions",
        "tags": [
          "zlm-v1-followup-questions-edge"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateChatCompletionRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "enum": [
                          "zlm-v1-followup-questions-edge"
                        ],
                        "default": "zlm-v1-followup-questions-edge",
                        "example": "zlm-v1-followup-questions-edge"
                      }
                    }
                  }
                ]
              },
              "examples": {
                "default": {
                  "summary": "Default",
                  "value": {
                    "model": "zlm-v1-followup-questions-edge",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Electric vehicles are gaining popularity worldwide as battery costs drop and charging infrastructure expands. Most modern EVs offer a range of 250 to 350 miles on a single charge, and fast-charging stations can replenish 80% of battery capacity in under 30 minutes. However, concerns around battery disposal, rare earth mineral sourcing, and grid capacity continue to shape the debate around large-scale EV adoption."
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "420": {
            "description": "Context length exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "ZeroGPU API key from the dashboard (starts with zgpu-)"
      },
      "ProjectId": {
        "type": "apiKey",
        "in": "header",
        "name": "x-project-id",
        "description": "Project UUID from the dashboard"
      }
    },
    "schemas": {
      "CreateResponseRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model identifier (fixed for this playground)."
          },
          "input": {
            "type": "string",
            "minLength": 1,
            "format": "textarea",
            "description": "Text or document content to send to the model."
          },
          "instructions": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "CreateChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string"
          },
          "messages": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant"
            ]
          },
          "content": {
            "type": "string",
            "minLength": 1,
            "format": "textarea",
            "description": "Message text."
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "additionalProperties": true
      },
      "InputMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "system"
            ]
          },
          "content": {
            "type": "string",
            "minLength": 1,
            "format": "textarea",
            "description": "Message text."
          }
        }
      },
      "Response": {
        "type": "object",
        "additionalProperties": true
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": true
      }
    }
  }
}
